{% extends 'base.html' %}

{% block navigation %}
 {{ super() }}
{% endblock %}



{% block main_content %}

<b> Your Quote Collection </b>
<div>
{% for message in get_flashed_messages() %}
<strong style="color:red">{{ message }}</strong>
{% endfor %}
</div>
{% if not quotes %}
You haven't saved any quotes yet!
{% endif %}


<ul>
{% if quotes %}
{% for quote in quotes %}
  		<li>{{ quote['quote']}} <br> 
  		<i> - {{ quote['author'] }}</i>
  		</li>
		<form method="POST" action="{{ url_for('delete', quote_id=quote.id)}}">
      	   {{ form.hidden_tag() }}
           {{ form.submit() }}
       </form>
	</li>
{% endfor %}
</ul>

{% endif %}


<form action="/search">
    <input type="submit" value="Back" />
</form>

{% endblock %}
